node-red/current-ncd-dashboard.json
[{"id":"1fca8009c7453718","type":"subflow","name":"Current Sensor","info":"","category":"NCD","in":[{"x":60,"y":580,"wires":[{"id":"d5c1204ec30934b5"}]}],"out":[],"env":[{"name":"Path","type":"str","value":"","ui":{"icon":"font-awesome/fa-folder-open-o","label":{"en-US":"Custom Path"},"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#3FADB5","icon":"node-red/status.svg","status":{"x":1740,"y":480,"wires":[{"id":"a0cdc26c12fc7bc6","port":0},{"id":"5892df77aad42144","port":0},{"id":"6299f1337e69c218","port":0}]}},{"id":"b87adeeeac0e4d28","type":"link out","z":"1fca8009c7453718","name":"link out 67","mode":"link","links":["c09229e49383c4ee","680fa2f431c1244f","9c9db5d5468d2c46"],"x":2505,"y":720,"wires":[]},{"id":"5a7367ec400e9a56","type":"link out","z":"1fca8009c7453718","name":"link out 68","mode":"link","links":["680fa2f431c1244f","8d2fca8a116d1827","9c9db5d5468d2c46","c09229e49383c4ee","87bdb34da5fac3e1","14687ddb6c47da69"],"x":2485,"y":580,"wires":[]},{"id":"567df14984949326","type":"link out","z":"1fca8009c7453718","name":"toGraphs","mode":"link","links":["14687ddb6c47da69"],"x":2655,"y":800,"wires":[]},{"id":"82a50ea7d4f0af0d","type":"change","z":"1fca8009c7453718","name":"getBattery","rules":[{"t":"set","p":"payload.battery","pt":"msg","to":"payload.col4","tot":"msg"},{"t":"set","p":"payload.Timestamp","pt":"msg","to":"payload.col11","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2370,"y":840,"wires":[["cccb53ab20fd3fd8"]]},{"id":"0207c45dcd46b2bc","type":"file in","z":"1fca8009c7453718","name":"path","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1985,"y":780,"wires":[["7b643c4e648ac133"]],"l":false},{"id":"7b643c4e648ac133","type":"csv","z":"1fca8009c7453718","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":2045,"y":780,"wires":[["d2acfc431ec5573a","1d96ab7a10f7c3f3"]],"l":false},{"id":"9fe35ad5c17c0edf","type":"change","z":"1fca8009c7453718","name":"Filter Data to save csv","rules":[{"t":"set","p":"payload","pt":"msg","to":"data","tot":"msg","dc":true},{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"},{"t":"delete","p":"payload.original","pt":"msg"},{"t":"delete","p":"payload.modem_mac","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":600,"wires":[["09435e8e0de05a93"]]},{"id":"c1def2defe9216bb","type":"csv","z":"1fca8009c7453718","name":"","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"nodeId,firmware,battery,battery_percent,counter,sensor_type,sensor_data,sensor_name,type,addr,received","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":1525,"y":560,"wires":[["6011de165a6f5c0c"]],"l":false},{"id":"6011de165a6f5c0c","type":"file","z":"1fca8009c7453718","name":"","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1575,"y":560,"wires":[["936d17a4ad74dda4","6299f1337e69c218"]],"l":false},{"id":"936d17a4ad74dda4","type":"function","z":"1fca8009c7453718","name":"getAndSetMAC","func":"var newMAC = msg.data.addr;\nvar count = flow.get(\"countMAC\") || 0;\n\nfor (let index = 0; index < count; index++) {\n    let oldMAC = flow.get(\"MAC[\"+index+\"]\")[0]; // Acces to element 0 of array (MAC)\n    if(oldMAC == newMAC)\n    {\n        return [msg, null];\n    }\n}\n// if new MAC is arrive\nflow.set(\"MAC[\"+count+\"]\", [newMAC, msg.data.sensor_type]); // Save array [MAC, TYPE]\ncount++;\nflow.set(\"countMAC\", count);\nreturn [null, msg];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1730,"y":600,"wires":[["e11c57b3ea7f160f"],["e11c57b3ea7f160f","a267302aea62c3ec"]]},{"id":"e11c57b3ea7f160f","type":"function","z":"1fca8009c7453718","name":"getMACOptionsForDropdown","func":"let count = flow.get(\"countMAC\");\nlet options = [];\nfor (let index = 0; index < count; index++) {\n    options[index] = flow.get(\"MAC[\"+index+\"]\")[0];\n}\nmsg.options = options;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1980,"y":600,"wires":[["5cdbcd3264eaa136","bc198e2ef9a35a3b"]]},{"id":"bb23741de762e798","type":"change","z":"1fca8009c7453718","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":860,"wires":[["986b3b69c45b3e4c"]]},{"id":"bc198e2ef9a35a3b","type":"switch","z":"1fca8009c7453718","name":"userMACSelection?","property":"data.addr","propertyType":"msg","rules":[{"t":"eq","v":"macSelection","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":2270,"y":580,"wires":[["c01bc2e1748a8a66","e32c0ab2906e8a35"]]},{"id":"0975c5bc99e65329","type":"change","z":"1fca8009c7453718","name":"getData","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"payload.col7","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2360,"y":800,"wires":[["5b36f55f737f4b8a"]]},{"id":"5b36f55f737f4b8a","type":"json","z":"1fca8009c7453718","name":"json object","property":"payload.data","action":"","pretty":false,"x":2455,"y":800,"wires":[["d90b4555f648171a"]],"l":false},{"id":"d90b4555f648171a","type":"function","z":"1fca8009c7453718","name":"getData","func":"let data = msg.payload.data;\nlet Timestamp = msg.payload.col11;\nmsg = {};\nmsg.payload = data;\nmsg.payload.Timestamp = Timestamp;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2550,"y":800,"wires":[["567df14984949326"]]},{"id":"09435e8e0de05a93","type":"switch","z":"1fca8009c7453718","name":"userPathValid?","property":"userPath","propertyType":"msg","rules":[{"t":"else"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1070,"y":600,"wires":[["5892df77aad42144"],["ae3cdeab77c2872a"],["0e8925bdb06a4f6a"]],"outputLabels":["invalid","linuxFomat","winFormat"]},{"id":"ae3cdeab77c2872a","type":"function","z":"1fca8009c7453718","name":"buildFilenameLinux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":600,"wires":[["c1def2defe9216bb"]]},{"id":"0e8925bdb06a4f6a","type":"function","z":"1fca8009c7453718","name":"buildFilenameWin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":640,"wires":[["c1def2defe9216bb"]]},{"id":"986b3b69c45b3e4c","type":"switch","z":"1fca8009c7453718","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1530,"y":860,"wires":[["873014b0f4bf7329"],["01305b0bd2af72fc"]]},{"id":"873014b0f4bf7329","type":"function","z":"1fca8009c7453718","name":"Linux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1740,"y":840,"wires":[["c7b10d12b46a6cb3"]]},{"id":"01305b0bd2af72fc","type":"function","z":"1fca8009c7453718","name":"windows","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":880,"wires":[["c7b10d12b46a6cb3"]]},{"id":"f08709801a25b268","type":"catch","z":"1fca8009c7453718","name":"","scope":["6011de165a6f5c0c","0207c45dcd46b2bc"],"uncaught":false,"x":1525,"y":480,"wires":[["5892df77aad42144"]],"l":false},{"id":"5892df77aad42144","type":"function","z":"1fca8009c7453718","name":"function 37","func":"msg.payload = ({fill: \"red\",text:\"Path error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1665,"y":480,"wires":[[]],"l":false},{"id":"6299f1337e69c218","type":"function","z":"1fca8009c7453718","name":"function 38","func":"msg.payload = ({fill: \"green\",text:\"Saving data\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1665,"y":520,"wires":[[]],"l":false},{"id":"77d79ce06b7702a4","type":"switch","z":"1fca8009c7453718","name":"user/defalutPath?","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":true,"outputs":2,"x":640,"y":560,"wires":[["9fd345cedf8fb08d"],["9fe35ad5c17c0edf"]],"outputLabels":["defaultPath","userPath"]},{"id":"72e0e7daedd922cf","type":"change","z":"1fca8009c7453718","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":500,"wires":[["3564e9fdd363b2d5"]]},{"id":"07cdf37b3f318258","type":"change","z":"1fca8009c7453718","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":540,"wires":[["67a50cc5d18f76c9"]]},{"id":"67a50cc5d18f76c9","type":"switch","z":"1fca8009c7453718","name":"Win","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":980,"y":540,"wires":[["d68f6a2c97e7672a"]]},{"id":"3564e9fdd363b2d5","type":"switch","z":"1fca8009c7453718","name":"Lin","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":980,"y":500,"wires":[["8254c0174e99a42c"]]},{"id":"220d2afd0d5e1eb6","type":"change","z":"1fca8009c7453718","name":"get/savePath","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":560,"wires":[["77d79ce06b7702a4"]]},{"id":"8254c0174e99a42c","type":"change","z":"1fca8009c7453718","name":"Filter Data to save csv","rules":[{"t":"set","p":"payload","pt":"msg","to":"data","tot":"msg","dc":true},{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"},{"t":"delete","p":"payload.original","pt":"msg"},{"t":"delete","p":"payload.modem_mac","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":500,"wires":[["75214537c1b708dc"]]},{"id":"88495c2850b9eeb5","type":"function","z":"1fca8009c7453718","name":"buld local path","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":540,"wires":[["c1def2defe9216bb"]]},{"id":"75214537c1b708dc","type":"function","z":"1fca8009c7453718","name":"buld local path","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":500,"wires":[["c1def2defe9216bb"]]},{"id":"d68f6a2c97e7672a","type":"change","z":"1fca8009c7453718","name":"Filter Data to save csv","rules":[{"t":"set","p":"payload","pt":"msg","to":"data","tot":"msg"},{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"},{"t":"delete","p":"payload.original","pt":"msg"},{"t":"delete","p":"payload.modem_mac","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":540,"wires":[["88495c2850b9eeb5"]]},{"id":"21db809fd97ca183","type":"switch","z":"1fca8009c7453718","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1190,"y":780,"wires":[["6b8cc0c80cac5065","b1e090bfa047d660"],["bb23741de762e798"]]},{"id":"b2503c9e16a98de7","type":"change","z":"1fca8009c7453718","name":"","rules":[{"t":"set","p":"userPath","pt":"msg","to":"","tot":"str"},{"t":"set","p":"macSelection","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":780,"wires":[["21db809fd97ca183"]]},{"id":"b1e090bfa047d660","type":"change","z":"1fca8009c7453718","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":720,"wires":[["ceb3b691c71759f8"]]},{"id":"6b8cc0c80cac5065","type":"change","z":"1fca8009c7453718","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":780,"wires":[["33a6cd0aeaa78b66"]]},{"id":"33a6cd0aeaa78b66","type":"switch","z":"1fca8009c7453718","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1490,"y":780,"wires":[["c445328d3cb0ed9b"]]},{"id":"ceb3b691c71759f8","type":"switch","z":"1fca8009c7453718","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1490,"y":720,"wires":[["c92bf85321e8da38"]]},{"id":"2f76ed032a0646e4","type":"function","z":"1fca8009c7453718","name":"function 39","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1850,"y":780,"wires":[["0207c45dcd46b2bc"]]},{"id":"3915653680085c22","type":"function","z":"1fca8009c7453718","name":"function 40","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1850,"y":720,"wires":[["0207c45dcd46b2bc"]]},{"id":"c92bf85321e8da38","type":"change","z":"1fca8009c7453718","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1660,"y":720,"wires":[["3915653680085c22"]]},{"id":"c445328d3cb0ed9b","type":"change","z":"1fca8009c7453718","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1660,"y":780,"wires":[["2f76ed032a0646e4"]]},{"id":"d2acfc431ec5573a","type":"function","z":"1fca8009c7453718","name":"last(n)Items","func":"const x = msg.payload.slice(-20);\n\nfor (let index = 0; index < 20; index++) {\n    msg.payload = x[index];\n    node.send(msg) \n}\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2170,"y":820,"wires":[["82a50ea7d4f0af0d","0975c5bc99e65329"]]},{"id":"24c915e5c8915439","type":"catch","z":"1fca8009c7453718","name":"","scope":["5b36f55f737f4b8a"],"uncaught":false,"x":2440,"y":520,"wires":[[]]},{"id":"c01bc2e1748a8a66","type":"function","z":"1fca8009c7453718","name":"function 41","func":"let timestamp = msg.data.received;\nmsg.payload = msg.data.sensor_data;\nmsg.payload.Timestamp = timestamp;\nmsg.payload.battery = msg.data.battery_percent;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2435,"y":580,"wires":[["5a7367ec400e9a56"]],"l":false},{"id":"cccb53ab20fd3fd8","type":"link out","z":"1fca8009c7453718","name":"link out 73","mode":"link","links":["8d2fca8a116d1827"],"x":2475,"y":840,"wires":[]},{"id":"1d96ab7a10f7c3f3","type":"function","z":"1fca8009c7453718","name":"getLastElement","func":"const array = msg.payload;\nmsg.payload = array[array.length - 1];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2180,"y":740,"wires":[["404ab1a6eb8df59d","19beb33c7f37dded"]]},{"id":"404ab1a6eb8df59d","type":"change","z":"1fca8009c7453718","name":"getData","rules":[{"t":"set","p":"data.sensor_data","pt":"msg","to":"payload.col7","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2360,"y":720,"wires":[["39787085618372a0"]]},{"id":"19beb33c7f37dded","type":"change","z":"1fca8009c7453718","name":"getBattery","rules":[{"t":"set","p":"data.battery_percent","pt":"msg","to":"payload.col4","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2370,"y":760,"wires":[["b70a7693c2322c65"]]},{"id":"39787085618372a0","type":"json","z":"1fca8009c7453718","name":"json object","property":"data.sensor_data","action":"","pretty":false,"x":2455,"y":720,"wires":[["b87adeeeac0e4d28"]],"l":false},{"id":"d5c1204ec30934b5","type":"switch","z":"1fca8009c7453718","name":"filterByValidType","property":"data.sensor_type","propertyType":"msg","rules":[{"t":"eq","v":"13","vt":"num"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":210,"y":580,"wires":[["5064924d02d7b87c"],["220d2afd0d5e1eb6"],["220d2afd0d5e1eb6"],["0feb83391875f367"]]},{"id":"0feb83391875f367","type":"function","z":"1fca8009c7453718","name":"typeErrorStatus","func":"msg.payload = ({fill: \"red\",text:\"Type error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":600,"wires":[["a5bf5d6aa87c4ff3"]]},{"id":"a5bf5d6aa87c4ff3","type":"link out","z":"1fca8009c7453718","name":"link out 74","mode":"link","links":["a0cdc26c12fc7bc6"],"x":585,"y":600,"wires":[]},{"id":"a0cdc26c12fc7bc6","type":"link in","z":"1fca8009c7453718","name":"link in 60","links":["a5bf5d6aa87c4ff3"],"x":1665,"y":440,"wires":[[]]},{"id":"3cb441f6b0e528fe","type":"link in","z":"1fca8009c7453718","name":"link in 62","links":["5878b7a682429c97"],"x":415,"y":880,"wires":[["81633702fe5ac5e2"]]},{"id":"d85071a3141462e1","type":"change","z":"1fca8009c7453718","name":"clear inspect","rules":[{"t":"set","p":"data","pt":"msg","to":"{\"nodeId\":\"-\",\"firmware\":\"-\",\"battery\":\"-\",\"battery_percent\":\"-\",\"counter\":\"-\",\"sensor_type\":\"89\",\"sensor_data\":{\"c1_raw_adc\":\"-\",\"c1_ma\":\"-\",\"c1_db\":\"-\",\"c2_raw_adc\":\"-\",\"c2_ma\":\"-\",\"c2_db\":\"-\"},\"sensor_name\":\"-\",\"addr\":\"--:--:--:--:--:--:--:--\",\"received\":\"-\",\"original\":{\"mac\":\"--:--:--:--:--:--:--:--\",\"receive_options\":{\"ack\":\"-\",\"broadcast\":\"-\",\"type\":\"\"}},\"modem_mac\":\"--:--:--:--:--:--:--:--\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"-","tot":"str"},{"t":"set","p":"lastReceived","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":980,"wires":[["0a19d7baa52a956a"]]},{"id":"0a19d7baa52a956a","type":"link out","z":"1fca8009c7453718","name":"link out 75","mode":"link","links":["0edacb33229b8c65","1d9e78da756570d5","0daa2fd3e9f6dbdf"],"x":1185,"y":980,"wires":[]},{"id":"ed99d1b6446c0d9c","type":"function","z":"1fca8009c7453718","name":"inspectCheck","func":"var actualMAC = msg.payload;\nvar lastMAC = context.get(\"lastMAC\") || false;\n\nif (actualMAC != lastMAC)\n{\n    context.set(\"lastMAC\", actualMAC);\n    return msg;\n}\n\n\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":980,"wires":[["d85071a3141462e1"]]},{"id":"b70a7693c2322c65","type":"link out","z":"1fca8009c7453718","name":"link out 76","mode":"link","links":["87bdb34da5fac3e1"],"x":2475,"y":760,"wires":[]},{"id":"a267302aea62c3ec","type":"change","z":"1fca8009c7453718","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"A new ncd device with MAC (\"&(data.addr)&\") has been connected! You can select it from MAC Dropdown\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1865,"y":560,"wires":[["f5d8931d571aedb7"]],"l":false},{"id":"81633702fe5ac5e2","type":"ui-dropdown","z":"1fca8009c7453718","group":"b9af03f313f7022e","name":"","label":"MAC","tooltip":"","order":2,"width":"0","height":"0","passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":540,"y":880,"wires":[["ed99d1b6446c0d9c","5b9f802b1615c4fd","814e00807e2c2a08"]]},{"id":"f5d8931d571aedb7","type":"ui-notification","z":"1fca8009c7453718","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#1a253f","displayTime":"5","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"NewDevice","x":1980,"y":560,"wires":[]},{"id":"e32c0ab2906e8a35","type":"link out","z":"1fca8009c7453718","name":"link out 79","mode":"link","links":["0daa2fd3e9f6dbdf","1d9e78da756570d5","0edacb33229b8c65"],"x":2485,"y":620,"wires":[]},{"id":"5b9f802b1615c4fd","type":"link out","z":"1fca8009c7453718","name":"link out 80","mode":"link","links":["32d988561803259e"],"x":685,"y":820,"wires":[]},{"id":"814e00807e2c2a08","type":"function","z":"1fca8009c7453718","name":"typeOfSelectedMAC","func":"let count = flow.get(\"countMAC\");\nlet type = 0;\nfor (let index = 0; index < count; index++) {\n    if (msg.options[index] == msg.payload)\n    {\n        type = flow.get(\"MAC[\"+index+\"]\")[1];\n    }\n}\nif(type == 13)\n{\n    flow.set(\"type\", 13)\n    flow.set(\"flagType\", true)\n    return[msg, null, null];\n}\nif(type == 19)\n{\n    flow.set(\"type\", 19)\n    flow.set(\"flagType\", false)\n    return[null, msg, null];\n}\nif (type == 28) {\n    flow.set(\"type\", 28)\n    flow.set(\"flagType\", false)\n    return [null, null, msg];\n}\nelse\n{\nnode.error(\"Empty or incompatible ncd MAC device\", msg);\n}\n","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":880,"wires":[["649c851aede7dce3","b2503c9e16a98de7"],["3cf404af30131d0e","b2503c9e16a98de7"],["b2503c9e16a98de7","c196fe1fd9a6b5bb"]]},{"id":"649c851aede7dce3","type":"function","z":"1fca8009c7453718","name":"is type 13","func":"// flow.set(\"type\", msg.data.sensor_type)\nlet unit = {\n    groups: \n    { \n        hide: [\n            \"ncd-current:currentInspect1\",\n            \"ncd-current:currentInspect2\",\n            \"ncd-current:currentInspect3\",\n            \"ncd-current:currentCH2\",\n            \"ncd-current:currentCH3\",\n            \"ncd-current:currentAverage\"\n            ],\n        show:[\n            \"ncd-current:currentSelectMAC\",\n            \"ncd-current:currentDownload\",\n            \"ncd-current:currentCH1\",\n            \"ncd-current:currentSingleChart\",\n            \"ncd-current:currentBattery\"\n            ]\n    } \n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":840,"wires":[["b8d62762686699f2"]]},{"id":"3cf404af30131d0e","type":"function","z":"1fca8009c7453718","name":"is type 19","func":"//flow.set(\"type\", msg.data.sensor_type)\nlet unit = {\n    groups:\n    {\n        hide: [\n            \"ncd-current:currentInspect1\",\n            \"ncd-current:currentInspect2\",\n            \"ncd-current:currentInspect3\",\n            \"ncd-current:currentCH3\",\n            \"ncd-current:currentSingleChart\"\n        ],\n        show: [\n            \"ncd-current:currentSelectMAC\",\n            \"ncd-current:currentDownload\",\n            \"ncd-current:currentCH1\",\n            \"ncd-current:currentCH2\",\n            \"ncd-current:currentAverage\",\n            \"ncd-current:currentBattery\"\n        ]\n    }\n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":880,"wires":[["b8d62762686699f2"]]},{"id":"c196fe1fd9a6b5bb","type":"function","z":"1fca8009c7453718","name":"is type 28","func":"//flow.set(\"type\", msg.data.sensor_type)\nlet unit = {\n    groups:\n    {\n        hide: [\n            \"ncd-current:currentInspect1\",\n            \"ncd-current:currentInspect2\",\n            \"ncd-current:currentInspect3\",\n            \"ncd-current:currentSingleChart\"\n        ],\n        show: [\n            \"ncd-current:currentSelectMAC\",\n            \"ncd-current:currentDownload\",\n            \"ncd-current:currentCH1\",\n            \"ncd-current:currentCH2\",\n            \"ncd-current:currentCH3\",\n            \"ncd-current:currentAverage\",\n            \"ncd-current:currentBattery\"\n        ]\n    }\n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":920,"wires":[["b8d62762686699f2"]]},{"id":"b8d62762686699f2","type":"link out","z":"1fca8009c7453718","name":"link out 81","mode":"link","links":["ab09e2c639727f13"],"x":1185,"y":880,"wires":[]},{"id":"5064924d02d7b87c","type":"change","z":"1fca8009c7453718","name":"re-setDataProperties","rules":[{"t":"set","p":"data.sensor_data.channel_1","pt":"msg","to":"data.sensor_data.amps","tot":"msg"},{"t":"set","p":"payload.channel_1","pt":"msg","to":"payload.amps","tot":"msg"},{"t":"delete","p":"data.sensor_data.amps","pt":"msg"},{"t":"delete","p":"payload.amps","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":345,"y":540,"wires":[["220d2afd0d5e1eb6"]],"l":false},{"id":"a8d52bc949b1911b","type":"function","z":"1fca8009c7453718","g":"024912a7c62b42a3","name":"Set base path","func":"var basePath = msg.path;\nvar device = msg.device;\nvar filename = msg.date;\nmsg.filename = basePath + device + filename + \".csv\";\nreturn msg;\n\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2320,"y":1320,"wires":[["544339fd070dbe2f"]]},{"id":"77badbfe743e35f2","type":"http response","z":"1fca8009c7453718","g":"024912a7c62b42a3","name":"","statusCode":"","headers":{},"x":2610,"y":1320,"wires":[]},{"id":"544339fd070dbe2f","type":"file in","z":"1fca8009c7453718","g":"024912a7c62b42a3","name":"","filename":"filename","filenameType":"msg","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":2480,"y":1320,"wires":[["77badbfe743e35f2"]]},{"id":"1261405cee7eee38","type":"catch","z":"1fca8009c7453718","g":"024912a7c62b42a3","name":"","scope":["544339fd070dbe2f"],"uncaught":false,"x":2170,"y":1380,"wires":[["331aa2dd8b0c786a","5f6a4380239c791c","1a6c7d70193f0ae1"]]},{"id":"cc3227a38fe7478e","type":"http in","z":"1fca8009c7453718","g":"024912a7c62b42a3","name":"","url":"/log/:fn","method":"get","upload":false,"swaggerDoc":"","x":1690,"y":1320,"wires":[["84086134b9df349b","98c51556fcccfe33"]]},{"id":"590c288c18f71fec","type":"change","z":"1fca8009c7453718","g":"024912a7c62b42a3","name":"","rules":[{"t":"set","p":"date","pt":"msg","to":"dateDownloadFile","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2150,"y":1320,"wires":[["a8d52bc949b1911b"]]},{"id":"84086134b9df349b","type":"change","z":"1fca8009c7453718","g":"024912a7c62b42a3","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1815,"y":1300,"wires":[["0b83ca17c271d648"]],"l":false},{"id":"98c51556fcccfe33","type":"change","z":"1fca8009c7453718","g":"024912a7c62b42a3","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1815,"y":1340,"wires":[["75f4616b142ced61"]],"l":false},{"id":"0b83ca17c271d648","type":"switch","z":"1fca8009c7453718","g":"024912a7c62b42a3","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1865,"y":1300,"wires":[["b3760a40479ade92"]],"l":false},{"id":"75f4616b142ced61","type":"switch","z":"1fca8009c7453718","g":"024912a7c62b42a3","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1865,"y":1340,"wires":[["236e3603c0229772"]],"l":false},{"id":"b3760a40479ade92","type":"change","z":"1fca8009c7453718","g":"024912a7c62b42a3","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"/.node-red/log/\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"macSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device, 12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"/\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1980,"y":1300,"wires":[["590c288c18f71fec"]]},{"id":"a6ad2adca98de6bc","type":"ui-notification","z":"1fca8009c7453718","g":"024912a7c62b42a3","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#000000","displayTime":"15","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"","x":2580,"y":1360,"wires":[]},{"id":"331aa2dd8b0c786a","type":"function","z":"1fca8009c7453718","g":"024912a7c62b42a3","name":"error message","func":"var error = \"Error: no such file or directory, open 'log'\";\nmsg = {};\nmsg.payload = error;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2340,"y":1360,"wires":[["6a0369997c20f4fe"]]},{"id":"6a0369997c20f4fe","type":"trigger","z":"1fca8009c7453718","g":"024912a7c62b42a3","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2455,"y":1360,"wires":[["a6ad2adca98de6bc"]],"l":false},{"id":"236e3603c0229772","type":"change","z":"1fca8009c7453718","g":"024912a7c62b42a3","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"\\\\.node-red\\\\log\\\\\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"macSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device,12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"\\\\\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1980,"y":1340,"wires":[["590c288c18f71fec"]]},{"id":"5f6a4380239c791c","type":"http response","z":"1fca8009c7453718","g":"024912a7c62b42a3","name":"Redirecting","statusCode":"302","headers":{"location":"/dashboard/3current"},"x":2330,"y":1400,"wires":[]},{"id":"9e0de246cf660755","type":"function","z":"1fca8009c7453718","g":"024912a7c62b42a3","name":"checkLastFlagType","func":"let flag = flow.get(\"flagType\") || 0;\n\nlet unit = {};\n\nunit = {\n    groups: \n    { \n        hide: \n        [\n            \"ncd-current:currentInspect1\",\n            \"ncd-current:currentInspect2\",\n            \"ncd-current:currentInspect3\"\n        ],\n        show: [\n            \"ncd-current:currentCH1\",\n            \"ncd-current:currentCH2\",\n            \"ncd-current:currentCH3\",\n            \"ncd-current:currentAverage\",\n            \"ncd-current:currentBattery\"\n        ],\n        enable : \n        [\n            \"ncd-current:currentSelectMAC\",\n            \"ncd-current:currentDownload\"\n        ]\n    } \n}\n\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2410,"y":1440,"wires":[["76da56a0ddc52767"]]},{"id":"1a6c7d70193f0ae1","type":"trigger","z":"1fca8009c7453718","g":"024912a7c62b42a3","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2275,"y":1440,"wires":[["9e0de246cf660755"]],"l":false},{"id":"76da56a0ddc52767","type":"link out","z":"1fca8009c7453718","g":"024912a7c62b42a3","name":"link out 77","mode":"link","links":["317682ceb2427751"],"x":2535,"y":1440,"wires":[]},{"id":"80011d93d5ea1648","type":"function","z":"1fca8009c7453718","g":"35897d4e2cb30b9e","name":"inspect function","func":"let toggle = context.get(\"toggle\") || 0;\n\nlet unit = {};\n\nif(!toggle) /* First time */\n{\n    unit = {\n        groups: \n        { \n            show: [\n                \"ncd-current:currentInspect1\",\n                \"ncd-current:currentInspect2\",\n                \"ncd-current:currentInspect3\"],\n            hide: \n            [\n               \"ncd-current:currentCH1\",\n               \"ncd-current:currentCH2\",\n               \"ncd-current:currentCH3\",\n               \"ncd-current:currentAverage\", \n               \"ncd-current:currentBattery\"\n            ],\n            disable: \n            [\n                \"ncd-current:currentSelectMAC\",\n                \"ncd-current:currentDownload\"\n            ]\n        } \n    }\n    toggle++;\n}\nelse /* Second time */\n{\n    unit = {\n        groups: \n        { \n            hide: \n            [\n                \"ncd-current:currentInspect1\",\n                \"ncd-current:currentInspect2\",\n                \"ncd-current:currentInspect3\"\n            ],\n            show: [\n                \"ncd-current:currentCH1\",\n                \"ncd-current:currentCH2\",\n                \"ncd-current:currentCH3\",\n                \"ncd-current:currentBattery\",\n                \"ncd-current:currentAverage\"\n            ],\n            enable : \n            [\n                \"ncd-current:currentSelectMAC\",\n                \"ncd-current:currentDownload\"\n            ]\n        } \n    }\n    toggle = 0;\n}\ncontext.set(\"toggle\", toggle);\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3020,"y":240,"wires":[["9548d6e21e81664e"]]},{"id":"e4468da4154456e2","type":"ui-template","z":"1fca8009c7453718","g":"35897d4e2cb30b9e","group":"","page":"b22e00233cbce7eb","ui":"","name":"inspect button","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-btn class=\"currentInspectButton\" @click=\"send({payload:true})\" color=\"white\" density=\"default\" append-icon=\"mdi-code-braces\"> Inspect </v-btn>\n</template>\n\n<style>\n.currentInspectButton{\n    top: -96px !important;\n    left: -155px !important;\n    width: 142px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":2840,"y":240,"wires":[["80011d93d5ea1648"]]},{"id":"9548d6e21e81664e","type":"ui-control","z":"1fca8009c7453718","g":"35897d4e2cb30b9e","name":"","ui":"ec459411017ddf37","events":"change","x":3220,"y":260,"wires":[[]]},{"id":"3a2c173759334bb2","type":"function","z":"1fca8009c7453718","g":"35897d4e2cb30b9e","name":"init show","func":"let unit = {\n    groups: \n    { \n            hide: \n            [\n                \"ncd-current:currentInspect1\",\n                \"ncd-current:currentInspect2\",\n                \"ncd-current:currentInspect3\",\n                \"ncd-current:currentSingleChart\"\n            ],\n            show:\n            [\n                \"ncd-current:currentSelectMAC\",\n                \"ncd-current:currentDownload\",\n                \"ncd-current:currentCH1\",\n                \"ncd-current:currentCH2\",\n                \"ncd-current:currentCH3\",\n                \"ncd-current:currentAverage\",\n                \"ncd-current:currentBattery\"\n            ]\n    } \n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3040,"y":280,"wires":[["9548d6e21e81664e"]]},{"id":"4bc75dde611124ce","type":"ui-event","z":"1fca8009c7453718","g":"35897d4e2cb30b9e","ui":"ec459411017ddf37","name":"","x":2810,"y":280,"wires":[["3a2c173759334bb2"]]},{"id":"ab09e2c639727f13","type":"link in","z":"1fca8009c7453718","g":"35897d4e2cb30b9e","name":"link in 68","links":["b8d62762686699f2"],"x":3085,"y":320,"wires":[["9548d6e21e81664e"]]},{"id":"7afec794f6839257","type":"inject","z":"1fca8009c7453718","g":"35897d4e2cb30b9e","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":2875,"y":320,"wires":[["69b5bfd86818cac5"]],"l":false},{"id":"69b5bfd86818cac5","type":"change","z":"1fca8009c7453718","g":"35897d4e2cb30b9e","name":"","rules":[{"t":"delete","p":"countMAC","pt":"flow"},{"t":"delete","p":"MAC","pt":"flow"},{"t":"delete","p":"macSelection","pt":"flow"},{"t":"delete","p":"flagType","pt":"flow"},{"t":"delete","p":"type","pt":"flow"},{"t":"set","p":"options","pt":"msg","to":"[\"\"]","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2925,"y":320,"wires":[["3a2c173759334bb2","5878b7a682429c97"]],"icon":"font-awesome/fa-remove","l":false},{"id":"5878b7a682429c97","type":"link out","z":"1fca8009c7453718","g":"35897d4e2cb30b9e","name":"link out 78","mode":"link","links":["3cb441f6b0e528fe","7883899c790d198c","5eb5e4dd1cd981d3","71e31be0f9c1b707","18eb7313fa816b71","7d29bbe8b868a984"],"x":3005,"y":320,"wires":[]},{"id":"317682ceb2427751","type":"link in","z":"1fca8009c7453718","g":"35897d4e2cb30b9e","name":"link in 69","links":["76da56a0ddc52767"],"x":3085,"y":200,"wires":[["9548d6e21e81664e"]]},{"id":"ab55ced33c5901a9","type":"ui-text-input","z":"1fca8009c7453718","g":"b16c86d409e0cdee","group":"3f9e3f0eea78aa86","name":"","label":"Date:","order":1,"width":"0","height":"0","topic":"topic","topicType":"msg","mode":"date","delay":300,"passthru":false,"sendOnDelay":false,"sendOnBlur":true,"sendOnEnter":true,"className":"datePickerCurrent","x":3410,"y":320,"wires":[["cce84c24ae2b3f88"]]},{"id":"670a1e9b7e0e59ca","type":"ui-template","z":"1fca8009c7453718","g":"b16c86d409e0cdee","group":"3f9e3f0eea78aa86","page":"","ui":"","name":"Download","order":2,"width":"3","height":"1","head":"","format":"<template>  \n    <a href=\"/log/ncd_current_Log.csv\">\n        <v-btn class=\"buttonDownload\" color=\"#589FE2\">Download CSV</v-btn>\n    </a>\n</template>\n<style>\n.buttonDownload {\n    top:12px !important;\n    width: 127px !important;\n}\n</style>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3800,"y":320,"wires":[[]]},{"id":"cce84c24ae2b3f88","type":"change","z":"1fca8009c7453718","g":"b16c86d409e0cdee","name":"","rules":[{"t":"set","p":"dateDownloadFile","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3590,"y":320,"wires":[[]]},{"id":"27f8dd477e6d10f6","type":"change","z":"1fca8009c7453718","g":"af0985c128348c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.nodeId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2865,"y":1060,"wires":[["4c795092a6e77e7a"]],"l":false},{"id":"0daa2fd3e9f6dbdf","type":"link in","z":"1fca8009c7453718","g":"af0985c128348c48","name":"link in 65","links":["0a19d7baa52a956a","e32c0ab2906e8a35"],"x":2775,"y":1240,"wires":[["27f8dd477e6d10f6","bf5449c2345a3703","ef41975513e65668","ce4246b52b6a884c","b161876cdf684a77","d32392f844800cca","8bd803b8d45d1f69","752a7ef04b8040ae","f2fe1b023024598b","f2675a6330b3406a"]]},{"id":"bf5449c2345a3703","type":"change","z":"1fca8009c7453718","g":"af0985c128348c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.firmware","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2865,"y":1100,"wires":[["23d54a6eb65fb6c0"]],"l":false},{"id":"ef41975513e65668","type":"change","z":"1fca8009c7453718","g":"af0985c128348c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2865,"y":1140,"wires":[["fcbcd8daa9584e26"]],"l":false},{"id":"ce4246b52b6a884c","type":"change","z":"1fca8009c7453718","g":"af0985c128348c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2865,"y":1180,"wires":[["c169ad28e8b2d4b9"]],"l":false},{"id":"b161876cdf684a77","type":"change","z":"1fca8009c7453718","g":"af0985c128348c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2865,"y":1220,"wires":[["42ef653ee432f3c4"]],"l":false},{"id":"d32392f844800cca","type":"change","z":"1fca8009c7453718","g":"af0985c128348c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2865,"y":1260,"wires":[["6c5c419816f6e5eb"]],"l":false},{"id":"8bd803b8d45d1f69","type":"change","z":"1fca8009c7453718","g":"af0985c128348c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2865,"y":1300,"wires":[["0e48c955361e50f7"]],"l":false},{"id":"752a7ef04b8040ae","type":"change","z":"1fca8009c7453718","g":"af0985c128348c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2865,"y":1340,"wires":[["fc7e1e473efd9e26"]],"l":false},{"id":"f2fe1b023024598b","type":"change","z":"1fca8009c7453718","g":"af0985c128348c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.addr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2865,"y":1380,"wires":[["853f0e801a92691e"]],"l":false},{"id":"f2675a6330b3406a","type":"change","z":"1fca8009c7453718","g":"af0985c128348c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.received","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2865,"y":1420,"wires":[["f8d6971d894dd32b"]],"l":false},{"id":"aa6742c7817d184b","type":"change","z":"1fca8009c7453718","g":"af0985c128348c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.channel_1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3245,"y":1060,"wires":[["b30efb384efdea88"]],"l":false},{"id":"3d98ec9b441ad4d6","type":"change","z":"1fca8009c7453718","g":"af0985c128348c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.channel_2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3245,"y":1240,"wires":[["92abcd39167d3eed"]],"l":false},{"id":"1d9e78da756570d5","type":"link in","z":"1fca8009c7453718","g":"af0985c128348c48","name":"link in 66","links":["0a19d7baa52a956a","e32c0ab2906e8a35"],"x":3165,"y":1240,"wires":[["3d98ec9b441ad4d6","e6f2ebd36278c1fa","aa6742c7817d184b"]]},{"id":"b7d0c1f8a5604952","type":"change","z":"1fca8009c7453718","g":"af0985c128348c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3645,"y":1060,"wires":[["f4459ce1c91c86a4"]],"l":false},{"id":"e6f2ebd36278c1fa","type":"change","z":"1fca8009c7453718","g":"af0985c128348c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.channel_3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3245,"y":1420,"wires":[["31fcb038c6449185"]],"l":false},{"id":"52d9ba57332bac4c","type":"change","z":"1fca8009c7453718","g":"af0985c128348c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.ack","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3645,"y":1140,"wires":[["1205819e8bf0d112"]],"l":false},{"id":"969012cf2251a46a","type":"change","z":"1fca8009c7453718","g":"af0985c128348c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.broadcast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3645,"y":1180,"wires":[["d8f04909af4a3175"]],"l":false},{"id":"f33ef33c74bb486f","type":"change","z":"1fca8009c7453718","g":"af0985c128348c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3645,"y":1220,"wires":[["61561708bbc7e11a"]],"l":false},{"id":"f46b8c7e54dfd8a5","type":"change","z":"1fca8009c7453718","g":"af0985c128348c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.modem_mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3645,"y":1260,"wires":[["d4177a114d1d8061"]],"l":false},{"id":"5448035a668b3d57","type":"change","z":"1fca8009c7453718","g":"af0985c128348c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3645,"y":1300,"wires":[["2ba9151e03f36d8d"]],"l":false},{"id":"f79c7b628a1e8cbc","type":"change","z":"1fca8009c7453718","g":"af0985c128348c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3645,"y":1340,"wires":[["f2f6197d1b189d62"]],"l":false},{"id":"bdc7bb7108d32040","type":"change","z":"1fca8009c7453718","g":"af0985c128348c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$moment().format('MMMM Do YYYY, h:mm:ss a')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3645,"y":1440,"wires":[["c67b935992608bc1"]],"l":false},{"id":"0edacb33229b8c65","type":"link in","z":"1fca8009c7453718","g":"af0985c128348c48","name":"link in 67","links":["0a19d7baa52a956a","e32c0ab2906e8a35"],"x":3535,"y":1260,"wires":[["b7d0c1f8a5604952","52d9ba57332bac4c","969012cf2251a46a","f33ef33c74bb486f","f46b8c7e54dfd8a5","5448035a668b3d57","f79c7b628a1e8cbc","c10568a332a3b8c6"]]},{"id":"c10568a332a3b8c6","type":"switch","z":"1fca8009c7453718","g":"af0985c128348c48","name":"","property":"lastReceived","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":3595,"y":1420,"wires":[["6642e325b558459b"],["bdc7bb7108d32040"]],"l":false},{"id":"6642e325b558459b","type":"change","z":"1fca8009c7453718","g":"af0985c128348c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"waiting for messages","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3645,"y":1400,"wires":[["c67b935992608bc1"]],"l":false},{"id":"4c795092a6e77e7a","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"083e9339e836abbe","order":2,"width":"0","height":"0","name":"Node ID","label":"Node ID","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":2960,"y":1060,"wires":[]},{"id":"23d54a6eb65fb6c0","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"083e9339e836abbe","order":3,"width":"0","height":"0","name":"Firmware version","label":"Firmware version:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":2990,"y":1100,"wires":[]},{"id":"fcbcd8daa9584e26","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"083e9339e836abbe","order":4,"width":"0","height":"0","name":"Battery V","label":"Battery (V):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":2960,"y":1140,"wires":[]},{"id":"c169ad28e8b2d4b9","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"083e9339e836abbe","order":5,"width":"0","height":"0","name":"Battery Level","label":"Battery Level (%):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":2970,"y":1180,"wires":[]},{"id":"42ef653ee432f3c4","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"083e9339e836abbe","order":6,"width":"0","height":"0","name":"Counter","label":"Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":2960,"y":1220,"wires":[]},{"id":"6c5c419816f6e5eb","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"083e9339e836abbe","order":7,"width":"0","height":"0","name":"Sensor type","label":"Sensor Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":2970,"y":1260,"wires":[]},{"id":"0e48c955361e50f7","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"083e9339e836abbe","order":8,"width":"0","height":"0","name":"Sensor Name","label":"Sensor Name:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":2980,"y":1300,"wires":[]},{"id":"fc7e1e473efd9e26","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"083e9339e836abbe","order":9,"width":"0","height":"0","name":"Type","label":"Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":2950,"y":1340,"wires":[]},{"id":"853f0e801a92691e","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"083e9339e836abbe","order":10,"width":"0","height":"0","name":"Address","label":"Address","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":2960,"y":1380,"wires":[]},{"id":"f8d6971d894dd32b","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"083e9339e836abbe","order":11,"width":"0","height":"0","name":"Receive","label":"Received:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":2960,"y":1420,"wires":[]},{"id":"b30efb384efdea88","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"313c889dd1a46f2b","order":3,"width":"0","height":"0","name":"Current - 1","label":"Current:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3350,"y":1060,"wires":[]},{"id":"92abcd39167d3eed","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"313c889dd1a46f2b","order":5,"width":"0","height":"0","name":"Current - 2","label":"Current:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3350,"y":1240,"wires":[]},{"id":"2828c4e5b8a196cf","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"083e9339e836abbe","order":1,"width":"0","height":"0","name":"DATA","label":"DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":2950,"y":1020,"wires":[]},{"id":"c8e6e49115aa01d2","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"313c889dd1a46f2b","order":1,"width":"0","height":"0","name":"SENSOR DATA (payload)","label":"SENSOR DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":3350,"y":980,"wires":[]},{"id":"c7a56974a85f8a97","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"779f6a10748fb85a","order":1,"width":"0","height":"0","name":"ORIGINAL","label":"ORIGINAL","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":3750,"y":1020,"wires":[]},{"id":"f4459ce1c91c86a4","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"779f6a10748fb85a","order":2,"width":"0","height":"0","name":"MAC","label":"MAC:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3730,"y":1060,"wires":[]},{"id":"31fcb038c6449185","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"313c889dd1a46f2b","order":7,"width":"0","height":"0","name":"Current - 3","label":"Current:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3350,"y":1420,"wires":[]},{"id":"0304d5cb3ecc2db2","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"779f6a10748fb85a","order":3,"width":"0","height":"0","name":"RECEIVE OPTIONS","label":"RECEIVE OPTIONS","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":3780,"y":1100,"wires":[]},{"id":"1205819e8bf0d112","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"779f6a10748fb85a","order":4,"width":"0","height":"0","name":"ack","label":"ack:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3730,"y":1140,"wires":[]},{"id":"d8f04909af4a3175","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"779f6a10748fb85a","order":5,"width":"0","height":"0","name":"broadcast","label":"broadcast:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3740,"y":1180,"wires":[]},{"id":"61561708bbc7e11a","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"779f6a10748fb85a","order":6,"width":"0","height":"0","name":"type","label":"type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3730,"y":1220,"wires":[]},{"id":"d4177a114d1d8061","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"779f6a10748fb85a","order":7,"width":"0","height":"0","name":"modem mac","label":"modem mac:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3750,"y":1260,"wires":[]},{"id":"2ba9151e03f36d8d","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"779f6a10748fb85a","order":8,"width":"0","height":"0","name":"topic","label":"topic:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3730,"y":1300,"wires":[]},{"id":"f2f6197d1b189d62","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"779f6a10748fb85a","order":9,"width":"0","height":"0","name":"time","label":"time:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3730,"y":1340,"wires":[]},{"id":"c67b935992608bc1","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"779f6a10748fb85a","order":11,"width":"0","height":"0","name":"last received message","label":"Last received message at:","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":3780,"y":1440,"wires":[]},{"id":"26d43406d38faf1a","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"779f6a10748fb85a","order":10,"width":"0","height":"0","name":"relleno","label":"","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Impact,Impact,Charcoal,sans-serif","fontSize":"20","color":"#000000","className":"","x":3730,"y":1400,"wires":[]},{"id":"96104f09015c5cef","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"313c889dd1a46f2b","order":2,"width":"0","height":"0","name":"Channel 1","label":"Channel 1","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"18","color":"#000000","className":"","x":3310,"y":1020,"wires":[]},{"id":"e92f42aa446aa8f5","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"313c889dd1a46f2b","order":4,"width":"0","height":"0","name":"Channel 2","label":"Channel 2","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"18","color":"#424242","className":"","x":3310,"y":1200,"wires":[]},{"id":"3a1626b391855d6d","type":"ui-text","z":"1fca8009c7453718","g":"af0985c128348c48","group":"313c889dd1a46f2b","order":6,"width":"0","height":"0","name":"Channel 3","label":"Channel 3","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"18","color":"#424242","className":"","x":3310,"y":1380,"wires":[]},{"id":"de4e5e40b47b9863","type":"ui-template","z":"1fca8009c7453718","g":"e05b7bdf66a7dd87","group":"","page":"b22e00233cbce7eb","ui":"","name":"Style","order":0,"width":0,"height":0,"head":"","format":".v-main {\n    background-image: url(\"https://www.transparenttextures.com/patterns/gplay.png\");\n    background-repeat: repeat;\n    --v-layout-top: 0px !important;\n    --v-layout-left: 181px !important;\n    background-color: #ffffff !important;\n}\n.bg-group-background{\n    border-width: 2.1px !important;\n    border-radius:  10px !important;\n    background-color: #ffffff9e !important;\n    border-color: #2196f3  !important;\n}\n.v-toolbar{\n    left: 12px !important;\n    top: 119px !important;\n    width: 68px !important;\n    height: 62px !important;\n    border-radius: 15px;\n    background-color: #2196f3 !important;;\n}\n.v-navigation-drawer--left{\n    top: 186px !important;\n    height: 160px !important;\n    border-radius: 15px;\n    left: 12px !important;\n    width: 167px !important;\n    background-color: #2196f3 !important;\n}\n.dataGroupCurrent .v-card{\n    height: 1077px !important;\n}\n.groupCurrentUVWChart .v-card{\nheight: 508px !important;\n}\n.groupcurrentBattChart .v-card{\nheight: 225px !important;\n}\n.groupCurrentUVW .v-card{\n    height: 320px !important;\n}\n.grupoCurrentSelectMac {\n    top: 880px !important;\n    width: 165px !important;\n    left: 13px !important;\n    position: absolute !important;\n}\n.grupoCurrentSelectMac .v-card{\n    height: 92px !important;\n}\n.datePickerCurrent{\n    left: -12px;\n    width: 155px;\n    position: relative;\n}\n.grupoCurrentDownload{\n    height: 100px !important;\n    top: 710px;\n    position: absolute;\n    left: 13px;\n    width: 165px !important;\n}\n/* Largo de grupos individual*/\n.grupoCurrentDownload .v-card{\n    height: 155px !important;\n}\n.currentGauge {\n    top:-54px !important;\n}\n.currentGauge .nrdb-ui-gauge-value span {\n    position: relative;\n    top: 68px !important;\n    font-size: 4.0rem !important;\n    line-height: 4.75rem !important;\n}\n.gaugeBattery{\n    top: -5px !important;\n}\n.currentBatteryPrecentChart {\n    position: relative;\n    top: -30px !important;\n}\n.nrdb-ui-gauge #backdrop path {\n    fill: #aeaeae60 !important;\n}\n.currentGauge .nrdb-ui-gauge-value span {\n  color: #2196f3;\n}\n.currentUVWChart{\n    position: relative;\n    top: -38px;\n}\n.v-btn {\n    height: 10px !important;\n    border-radius: 15px !important;\n    background-color: #2196f3;\n}\n.currentTextCh123 .nrdb-ui-text-label{\n    font-size: 38px !important;\n    color: #2196f3;\n}\n.nrdb-ui-text{\n    color: #2196f3 !important;\n}","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"page:style","className":"","x":3730,"y":220,"wires":[[]]},{"id":"0ad3a3a018ba43a7","type":"ui-template","z":"1fca8009c7453718","g":"e05b7bdf66a7dd87","group":"","page":"b22e00233cbce7eb","ui":"","name":"Logo","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <a href=\"https://ncd.io/\" target=\"_blank\">\n    <div class=\"logo2\">\n        <v-chip label size=\"x-large\" :width=\"200\" color=\"black\" text=\"ncd.io\"></v-chip>\n    </div>\n    </a>\n</template>\n<style>\n.logo2 {\n    transform: rotate(0deg);\n    width: 180px;\n    position: fixed;\n    top: 13px;\n    left: 35px;\n}\n.v-chip.v-chip--size-x-large {\n    --v-chip-height: 89px;\n    font-size: 2.125rem;\n    font-family: system-ui;\n}\n.v-chip--variant-tonal .v-chip__underlay {\n    border-radius: 15px !important;\n}\n\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3610,"y":220,"wires":[[]]},{"id":"8c1b424b71eb6a1f","type":"ui-template","z":"1fca8009c7453718","g":"e05b7bdf66a7dd87","group":"","page":"b22e00233cbce7eb","ui":"","name":"currentProductInfo","order":0,"width":"","height":"","head":"","format":"<template>\n    <a href=\"https://store.ncd.io/product/3-channel-industrial-iot-wireless-ac-current-monitor-sensor/\" target=\"_blank\">\n        <v-btn class=\"currentInfoButton\" color=\"white\" density=\"default\" append-icon=\"mdi-open-in-new\"> Product info </v-btn>\n    </a>\n</template>\n<style>\n.currentInfoButton{\n    position: absolute;\n    top: 1049px;\n    left: 27px;\n    width: 142px;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3450,"y":220,"wires":[[]]},{"id":"c09229e49383c4ee","type":"link in","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","name":"link in 48","links":["5a7367ec400e9a56","b87adeeeac0e4d28"],"x":2775,"y":500,"wires":[["57bc85d702fa5279"]]},{"id":"88750cb5e392f905","type":"change","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3045,"y":880,"wires":[["a38dd177c6b248bc"]],"l":false},{"id":"a38dd177c6b248bc","type":"range","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3115,"y":840,"wires":[["edbf2623e2a14ae2"]],"l":false},{"id":"87bdb34da5fac3e1","type":"link in","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","name":"link in 63","links":["b70a7693c2322c65","5a7367ec400e9a56"],"x":2995,"y":880,"wires":[["88750cb5e392f905"]]},{"id":"a822125febc48124","type":"ui-text","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","group":"57e53bc329feb0c4","order":1,"width":"4","height":"1","name":"","label":"Current Channel - 1","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"currentTextCh123","x":2950,"y":420,"wires":[]},{"id":"5fed4eea8903a8e5","type":"ui-chart","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","group":"f00293410b321fb2","name":"currentUVWChart","label":"","order":1,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"3","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"10","height":"9","className":"currentUVWChart","x":3390,"y":680,"wires":[[]]},{"id":"9da1e4f3b77b1b1f","type":"ui-gauge","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","name":"gaugeCurrentChannel1","group":"57e53bc329feb0c4","order":3,"width":"4","height":"4","gtype":"gauge-half","gstyle":"needle","title":"","units":"","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#5cd65c"},{"from":"40","color":"#ffc800"},{"from":"70","color":"#ea5353"}],"min":0,"max":"100","sizeThickness":"76","sizeGap":"8","sizeKeyThickness":"7","styleRounded":true,"styleGlow":false,"className":"currentGauge","x":2970,"y":500,"wires":[]},{"id":"e5c83423c32b623a","type":"ui-template","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","group":"57e53bc329feb0c4","page":"","ui":"","name":"lineCurrentChannel1","order":2,"width":"4","height":"1","head":"","format":"<template>\n    <div class=\"lineC1\"></div>\n</template>\n\n<style>\n.lineC1{\n  position: relative;\n  border-left: 700px solid #2196f3 ;\n  height: 2px !important;\n  margin-left: -20px;\n  top: -8px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":2960,"y":460,"wires":[[]]},{"id":"faf8c7a1aea2111d","type":"ui-text","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","group":"593b95dea86d9525","order":1,"width":"4","height":"1","name":"","label":"Current Channel - 2","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"currentTextCh123","x":3310,"y":420,"wires":[]},{"id":"63838abff00ec876","type":"ui-template","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","group":"593b95dea86d9525","page":"","ui":"","name":"lineCurrentChannel2","order":2,"width":"4","height":"1","head":"","format":"<template>\n    <div class=\"lineC1\"></div>\n</template>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3320,"y":460,"wires":[[]]},{"id":"34020257084e073d","type":"ui-gauge","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","name":"gaugeCurrentChannel2","group":"593b95dea86d9525","order":3,"width":"4","height":"4","gtype":"gauge-half","gstyle":"needle","title":"","units":"","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#5cd65c"},{"from":"40","color":"#ffc800"},{"from":"70","color":"#ea5353"}],"min":0,"max":"100","sizeThickness":"76","sizeGap":"8","sizeKeyThickness":"7","styleRounded":true,"styleGlow":false,"className":"currentGauge","x":3330,"y":500,"wires":[]},{"id":"b17a708852f539e6","type":"ui-gauge","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","name":"gaugeCurrentChannel3","group":"71726a4a6977b951","order":3,"width":"4","height":"4","gtype":"gauge-half","gstyle":"needle","title":"","units":"","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#5cd65c"},{"from":"40","color":"#ffc800"},{"from":"70","color":"#ea5353"}],"min":0,"max":"100","sizeThickness":"76","sizeGap":"8","sizeKeyThickness":"7","styleRounded":true,"styleGlow":false,"className":"currentGauge","x":3710,"y":500,"wires":[]},{"id":"fbdcc484e4d7b4e3","type":"ui-template","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","group":"71726a4a6977b951","page":"","ui":"","name":"lineCurrentChannel3","order":2,"width":"4","height":"1","head":"","format":"<template>\n    <div class=\"lineC1\"></div>\n</template>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3700,"y":460,"wires":[[]]},{"id":"381ec0c4c946d315","type":"ui-text","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","group":"71726a4a6977b951","order":1,"width":"4","height":"1","name":"","label":"Current Channel - 3","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"currentTextCh123","x":3690,"y":420,"wires":[]},{"id":"62804cbe974bc7ce","type":"ui-chart","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","group":"1cac9879a87f9e1d","name":"batteryChart","label":"","order":1,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"battery","ymin":"5","ymax":"100","action":"append","pointShape":"circle","pointRadius":"2","showLegend":false,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"10","height":"4","className":"currentBatteryPrecentChart","x":3210,"y":800,"wires":[[]]},{"id":"db9326a009886c54","type":"ui-template","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","group":"f00293410b321fb2","page":"","ui":"","name":"currentAverageGauge","order":2,"width":"2","height":"7","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#aeaeae60\" model-value=\"20\" :size=\"300\" :width=\"20\" color=\"blue\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"blue\" icon=\"mdi-sine-wave\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div color=\"#2ed280\">\n                {{ msg.scale }}\n                <br>\n                <br>\n                <br>\n                Average\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.circular2{\n    font-size: 50px;\n    font-weight: bold !important;\n    top: 60px !important;\n    //left: 7px !important; */\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3400,"y":600,"wires":[[]]},{"id":"b04e63553e7ff7d7","type":"change","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"$round(payload, 2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3185,"y":600,"wires":[["94ee891e3eb8dc92"]],"l":false},{"id":"94ee891e3eb8dc92","type":"range","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3255,"y":600,"wires":[["db9326a009886c54"]],"l":false},{"id":"edbf2623e2a14ae2","type":"ui-template","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","group":"1cac9879a87f9e1d","page":"","ui":"","name":"currentBatteryPercent","order":2,"width":"2","height":"4","head":"","format":"<template>\n    <v-progress-circular class=\"circular\" bg-color=\"#aeaeae60\" model-value=\"20\" :size=\"200\" :width=\"20\" color=\"blue\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"blue\" icon=\"mdi-battery-medium\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div color=\"#2ed280\">\n                {{ msg.scale }}\n                <br>\n                <br>\n                BATT\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.circular{\n    font-size: 30px;\n    font-weight: bold !important;\n    top: -5px !important;\n    left: 50px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3260,"y":840,"wires":[[]]},{"id":"57bc85d702fa5279","type":"change","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.channel_1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2825,"y":500,"wires":[["9da1e4f3b77b1b1f"]],"l":false},{"id":"9149b6903f1316fc","type":"change","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.channel_2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3185,"y":500,"wires":[["34020257084e073d"]],"l":false},{"id":"765adbdd1571ed3e","type":"change","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.channel_3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":500,"wires":[["b17a708852f539e6"]],"l":false},{"id":"680fa2f431c1244f","type":"link in","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","name":"link in 70","links":["5a7367ec400e9a56","b87adeeeac0e4d28"],"x":3135,"y":500,"wires":[["9149b6903f1316fc"]]},{"id":"9c9db5d5468d2c46","type":"link in","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","name":"link in 71","links":["5a7367ec400e9a56","b87adeeeac0e4d28"],"x":3515,"y":500,"wires":[["765adbdd1571ed3e"]]},{"id":"481e051c7326189b","type":"function","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","name":"splitPayloadTopic","func":"var ch1;\nvar ch2;\nvar ch3;\nvar average;\nvar timestamp;\nvar type = flow.get(\"type\");\n\nif (msg.payload.channel_1 == undefined)\n{\n    ch1 = msg.data.sensor_data.channel_1;\n    ch2 = msg.data.sensor_data.channel_2;\n    ch3 = msg.data.sensor_data.channel_3;\n    timestamp = msg.data.received;\n}\nelse{\n    ch1 = msg.payload.channel_1;\n    ch2 = msg.payload.channel_2;\n    ch3 = msg.payload.channel_3;\n    timestamp = msg.payload.Timestamp;\n}\nmsg.payload = {\n    Timestamp : timestamp,\n    data : ch1\n}\nmsg.topic = \"Channel-1\";\nnode.send([[msg], [null], [null], [null]]);\n\nif(type == 19){\n    msg.payload = {\n        Timestamp: timestamp,\n        data: ch2\n    }\n    msg.topic = \"Channel-2\";\n    node.send([[null], [msg], [null], [null]]);\n    average = (ch1 + ch2);\n    average /= 2;\n    msg.payload = {\n    Timestamp: timestamp,\n    data: average\n    }\n    msg.topic = \"Average\";\n    node.send([[null], [null], [null], [msg]]);\n}\nif(type == 28){    \n    msg.payload = {\n        Timestamp: timestamp,\n        data: ch2\n    }\n    msg.topic = \"Channel-2\";\n    node.send([[null], [msg], [null], [null]]);\n    \n    msg.payload = {\n        Timestamp: timestamp,\n        data: ch3\n    }\n    msg.topic = \"Channel-3\";\n    node.send([[null], [null], [msg], [null]]);\n\n    average = (ch1 + ch2 + ch3); \n    average /= 3;\n\n    msg.payload = {\n    Timestamp: timestamp,\n    data: average\n    }\n    msg.topic = \"Average\";\n    node.send([[null], [null], [null], [msg]]);\n}\n\n","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2970,"y":680,"wires":[["6bafa2e73c6f61bf","1bb1b9e0580977e9"],["1bb1b9e0580977e9"],["1bb1b9e0580977e9"],["b04e63553e7ff7d7","1bb1b9e0580977e9"]]},{"id":"14687ddb6c47da69","type":"link in","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","name":"link in 73","links":["567df14984949326","5a7367ec400e9a56"],"x":2845,"y":680,"wires":[["481e051c7326189b"]]},{"id":"32d988561803259e","type":"link in","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","name":"link in 74","links":["5b9f802b1615c4fd"],"x":2995,"y":760,"wires":[["6c7d5e7cc93492e8"]]},{"id":"6c7d5e7cc93492e8","type":"change","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":3045,"y":760,"wires":[["5fed4eea8903a8e5","62804cbe974bc7ce","6bafa2e73c6f61bf"]],"l":false},{"id":"8d2fca8a116d1827","type":"link in","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","name":"link in 72","links":["5a7367ec400e9a56","cccb53ab20fd3fd8"],"x":2995,"y":800,"wires":[["6bfb7378f9fe704a"]]},{"id":"6bfb7378f9fe704a","type":"change","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"battery","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3045,"y":800,"wires":[["62804cbe974bc7ce"]],"l":false},{"id":"7883899c790d198c","type":"link in","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","name":"link in 76","links":["5878b7a682429c97"],"x":2825,"y":540,"wires":[["9da1e4f3b77b1b1f"]]},{"id":"5eb5e4dd1cd981d3","type":"link in","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","name":"link in 77","links":["5878b7a682429c97"],"x":3185,"y":540,"wires":[["34020257084e073d"]]},{"id":"71e31be0f9c1b707","type":"link in","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","name":"link in 78","links":["5878b7a682429c97"],"x":3565,"y":540,"wires":[["b17a708852f539e6"]]},{"id":"18eb7313fa816b71","type":"link in","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","name":"link in 79","links":["5878b7a682429c97"],"x":3065,"y":620,"wires":[["5fed4eea8903a8e5","6bafa2e73c6f61bf","c66273fba5395b06"]]},{"id":"7d29bbe8b868a984","type":"link in","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","name":"link in 80","links":["5878b7a682429c97"],"x":2995,"y":840,"wires":[["a38dd177c6b248bc","62804cbe974bc7ce"]]},{"id":"6bafa2e73c6f61bf","type":"ui-chart","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","group":"7f168226ac45942f","name":"currentSingleChart","label":"","order":1,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"3","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"12","height":"8","className":"currentSingleChart","x":3390,"y":640,"wires":[[]]},{"id":"c7b10d12b46a6cb3","type":"junction","z":"1fca8009c7453718","x":1920,"y":860,"wires":[["0207c45dcd46b2bc"]]},{"id":"9fd345cedf8fb08d","type":"junction","z":"1fca8009c7453718","x":770,"y":520,"wires":[["72e0e7daedd922cf","07cdf37b3f318258"]]},{"id":"5cdbcd3264eaa136","type":"junction","z":"1fca8009c7453718","x":430,"y":760,"wires":[["81633702fe5ac5e2"]]},{"id":"c66273fba5395b06","type":"junction","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","x":3220,"y":620,"wires":[["94ee891e3eb8dc92"]]},{"id":"1bb1b9e0580977e9","type":"junction","z":"1fca8009c7453718","g":"b85f8cc0d58eb0bb","x":3160,"y":680,"wires":[["5fed4eea8903a8e5"]]},{"id":"024912a7c62b42a3","type":"group","z":"1fca8009c7453718","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["a8d52bc949b1911b","77badbfe743e35f2","544339fd070dbe2f","1261405cee7eee38","cc3227a38fe7478e","590c288c18f71fec","84086134b9df349b","98c51556fcccfe33","0b83ca17c271d648","75f4616b142ced61","b3760a40479ade92","a6ad2adca98de6bc","331aa2dd8b0c786a","6a0369997c20f4fe","236e3603c0229772","5f6a4380239c791c","9e0de246cf660755","1a6c7d70193f0ae1","76da56a0ddc52767"],"x":1594,"y":1259,"w":1102,"h":222},{"id":"35897d4e2cb30b9e","type":"group","z":"1fca8009c7453718","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["80011d93d5ea1648","e4468da4154456e2","9548d6e21e81664e","3a2c173759334bb2","4bc75dde611124ce","ab09e2c639727f13","7afec794f6839257","69b5bfd86818cac5","5878b7a682429c97","317682ceb2427751"],"x":2734,"y":159,"w":572,"h":202},{"id":"b16c86d409e0cdee","type":"group","z":"1fca8009c7453718","name":"","style":{"fill":"none","label":true},"nodes":["ab55ced33c5901a9","670a1e9b7e0e59ca","cce84c24ae2b3f88"],"x":3334,"y":279,"w":552,"h":82},{"id":"af0985c128348c48","type":"group","z":"1fca8009c7453718","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["27f8dd477e6d10f6","0daa2fd3e9f6dbdf","bf5449c2345a3703","ef41975513e65668","ce4246b52b6a884c","b161876cdf684a77","d32392f844800cca","8bd803b8d45d1f69","752a7ef04b8040ae","f2fe1b023024598b","f2675a6330b3406a","aa6742c7817d184b","3d98ec9b441ad4d6","1d9e78da756570d5","b7d0c1f8a5604952","e6f2ebd36278c1fa","52d9ba57332bac4c","969012cf2251a46a","f33ef33c74bb486f","f46b8c7e54dfd8a5","5448035a668b3d57","f79c7b628a1e8cbc","bdc7bb7108d32040","0edacb33229b8c65","c10568a332a3b8c6","6642e325b558459b","4c795092a6e77e7a","23d54a6eb65fb6c0","fcbcd8daa9584e26","c169ad28e8b2d4b9","42ef653ee432f3c4","6c5c419816f6e5eb","0e48c955361e50f7","fc7e1e473efd9e26","853f0e801a92691e","f8d6971d894dd32b","b30efb384efdea88","92abcd39167d3eed","2828c4e5b8a196cf","c8e6e49115aa01d2","c7a56974a85f8a97","f4459ce1c91c86a4","31fcb038c6449185","0304d5cb3ecc2db2","1205819e8bf0d112","d8f04909af4a3175","61561708bbc7e11a","d4177a114d1d8061","2ba9151e03f36d8d","f2f6197d1b189d62","c67b935992608bc1","26d43406d38faf1a","96104f09015c5cef","e92f42aa446aa8f5","3a1626b391855d6d"],"x":2734,"y":939,"w":1172,"h":542},{"id":"e05b7bdf66a7dd87","type":"group","z":"1fca8009c7453718","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["de4e5e40b47b9863","0ad3a3a018ba43a7","8c1b424b71eb6a1f"],"x":3334,"y":179,"w":472,"h":82},{"id":"b85f8cc0d58eb0bb","type":"group","z":"1fca8009c7453718","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c09229e49383c4ee","88750cb5e392f905","a38dd177c6b248bc","87bdb34da5fac3e1","a822125febc48124","5fed4eea8903a8e5","9da1e4f3b77b1b1f","e5c83423c32b623a","faf8c7a1aea2111d","63838abff00ec876","34020257084e073d","b17a708852f539e6","fbdcc484e4d7b4e3","381ec0c4c946d315","62804cbe974bc7ce","db9326a009886c54","b04e63553e7ff7d7","94ee891e3eb8dc92","edbf2623e2a14ae2","57bc85d702fa5279","9149b6903f1316fc","765adbdd1571ed3e","680fa2f431c1244f","9c9db5d5468d2c46","481e051c7326189b","14687ddb6c47da69","32d988561803259e","6c7d5e7cc93492e8","8d2fca8a116d1827","6bfb7378f9fe704a","7883899c790d198c","5eb5e4dd1cd981d3","71e31be0f9c1b707","18eb7313fa816b71","7d29bbe8b868a984","6bafa2e73c6f61bf","c66273fba5395b06","1bb1b9e0580977e9"],"x":2734,"y":379,"w":1112,"h":542},{"id":"b9af03f313f7022e","type":"ui-group","name":"currentSelectMAC","page":"b22e00233cbce7eb","width":"6","height":"1","order":-1,"showTitle":false,"className":"grupoCurrentSelectMac","visible":"true","disabled":"false"},{"id":"ec459411017ddf37","type":"ui-base","name":"ncd-ui-base","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"navigationStyle":"default"},{"id":"b22e00233cbce7eb","type":"ui-page","name":"ncd-current","ui":"ec459411017ddf37","path":"/3current","icon":"mdi-triangle-wave","layout":"grid","theme":"1bbb7b6c9602b754","order":1,"className":"","visible":"true","disabled":"false"},{"id":"3f9e3f0eea78aa86","type":"ui-group","name":"currentDownload","page":"b22e00233cbce7eb","width":"6","height":"1","order":2,"showTitle":false,"className":"grupoCurrentDownload","visible":"true","disabled":"false"},{"id":"083e9339e836abbe","type":"ui-group","name":"currentInspect1","page":"b22e00233cbce7eb","width":"4","height":"1","order":9,"showTitle":false,"className":"dataGroupCurrent","visible":"true","disabled":"false"},{"id":"313c889dd1a46f2b","type":"ui-group","name":"currentInspect2","page":"b22e00233cbce7eb","width":"4","height":"1","order":10,"showTitle":false,"className":"dataGroupCurrent","visible":"true","disabled":"false"},{"id":"779f6a10748fb85a","type":"ui-group","name":"currentInspect3","page":"b22e00233cbce7eb","width":"4","height":"1","order":11,"showTitle":false,"className":"dataGroupCurrent","visible":"true","disabled":"false"},{"id":"57e53bc329feb0c4","type":"ui-group","name":"currentCH1","page":"b22e00233cbce7eb","width":"4","height":"5","order":3,"showTitle":false,"className":"groupCurrentUVW","visible":"true","disabled":"false"},{"id":"f00293410b321fb2","type":"ui-group","name":"currentAverage","page":"b22e00233cbce7eb","width":"12","height":"1","order":6,"showTitle":false,"className":"groupCurrentUVWChart","visible":"true","disabled":"false"},{"id":"593b95dea86d9525","type":"ui-group","name":"currentCH2","page":"b22e00233cbce7eb","width":"4","height":"1","order":4,"showTitle":false,"className":"groupCurrentUVW","visible":"true","disabled":"false"},{"id":"71726a4a6977b951","type":"ui-group","name":"currentCH3","page":"b22e00233cbce7eb","width":"4","height":"1","order":5,"showTitle":false,"className":"groupCurrentUVW","visible":"true","disabled":"false"},{"id":"1cac9879a87f9e1d","type":"ui-group","name":"currentBattery","page":"b22e00233cbce7eb","width":"12","height":"1","order":8,"showTitle":false,"className":"groupcurrentBattChart","visible":"true","disabled":"false"},{"id":"7f168226ac45942f","type":"ui-group","name":"currentSingleChart","page":"b22e00233cbce7eb","width":"12","height":"1","order":7,"showTitle":false,"className":"groupCurrentUVWChart","visible":"true","disabled":"false"},{"id":"1bbb7b6c9602b754","type":"ui-theme","name":"ncdTheme","colors":{"surface":"#0099cc","primary":"#0931fb","bgPage":"#a3a7a8","groupBg":"#84daf0","groupOutline":"#9da2a4"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"10px"}},{"id":"b7386adf83dd0688","type":"subflow:1fca8009c7453718","z":"0f850dc8977c3d53","name":"","x":1740,"y":1400,"wires":[]}]
